body {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
#google img.icon {
    height: 13px;
}
#google {
    max-width: 960px;
    min-width: 450px;
    border: 3px double #000;
    margin: 10px auto 10px auto;
}
header.clicks {
    background-color: #ffe4c4;
    height: 6vh;
    display: flex;
}
nav.icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.icon button {
    background-color: transparent;
    border: none;
    vertical-align: auto;
}
.icon button:hover,
.icon button:focus {
    background-color: #d8bfd8;
    border-radius: 13px;
    height: 30px;
}
.icon button img {
    margin-right: 5px;
}

.icon form {
    display: flex;
    align-items: center;
}

#page{
    display: flex;
    justify-content: flex-end;
}
nav.page-icon {
    margin-right: 25px;
    margin-top: 10px;
}
.page-icon a {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}
.page-icon a:hover,
.page-icon a:focus {
    text-decoration: underline;
    color: #d8bfd8;
}

h1.gogo {
    display: flex;
    justify-content: center;
    margin: 0;
}

form.search {
    display: flex;
    justify-content: center;
    margin: 0;
}
.search button {
    width: 550px;
    padding: 0;
    height: 6vh;
    border-radius: 25px;
    border: 1px solid #d8bfd8;
    background-color: transparent;
    font-size: 1rem;
    margin-bottom: 10px;
}
button img.sticker {
    height: 13px;
    float: left;
    margin-left: 10px;
    
}
input.search {
    margin: 0;
    width: 90%;
    border: none;

}

form.hh {
    display: flex;
    justify-content: center;

}
button.hh {
    margin: 10px;
    color: #000;
}
button.hh:hover,
button.hh:focus {
    background-color: #d8bfd8;
    border-radius: 15px;
    border: none;
}
button.hh img {
    margin-right: 7px;
}
.hh a {
    text-decoration: none;
}

footer {
    background-color: #ffe4c4;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 30px;
    padding-top: 0;
}
p.post {
    display: flex;
    justify-content: center;    
    padding-bottom: 0;
    color: #696969;
    border: none;
}
.las a {
    text-decoration: none;
    color: #000;
}
.las a:hover,
.las a:focus {
    text-decoration: underline;
    color: #d8bfd8;
}